body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?cs=srgb&dl=pexels-pixabay-531880.jpg&fm=jpg);
    text-align: center;
}

h1 {
    text-align: center;
    color: red;
}

#bmiForm {
    max-width: 200px;
    margin: 1px auto;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input {
    width: 100%;
    padding: 6px;
    margin-bottom: 12px;
    box-sizing: border-box;
}

input[type="button"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #45a049;
}

#demo {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    color: #333;
}