
        body{
            padding:auto;
            margin-left:50px;
            border: 50px;
            background-image: url(https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
        img{
            border-radius: 200%;
            
        }
        h1{
            text-decoration-line: underline;
            text-decoration-color: red;  
            text-decoration-style: double;
            text-decoration-thickness: 5px;  
            color:red;

        
        }


    div{
        text-align: center;
    }
    
    
