h1 {
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-style: double;
}
fieldset {
  width: 50%;
}
body {
  font-family: inherit;
  background-image: url("https://img.freepik.com/free-photo/vivid-blurred-colorful-background_58702-2655.jpg?w=2000");
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: xx-large;
  text-align: center;
}

h1 {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: red;
  background-color:lawngreen;
}
fieldset{
    align-items: center;
}
